.whiteboard {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.tldraw_container,
.tldraw__editor {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

:global(.tldraw__editor) {
  --tl-selection-fill: rgba(17, 49, 93, 0.05);
  --tl-selection-stroke: rgba(17, 49, 93, 0.8);
  --tl-selection-stroke-width: 2px;
  --tl-selection-stroke-dash: 0;
  --tl-selection-radius: 8px;
}
