.frame_group {
  width: 100%;
  border-radius: 0.6rem;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  background-color: #ffffff;
}

.frame_rect {
  stroke: rgba(17, 49, 93, 0.4);
  stroke-width: 1;
}

.overlay {
  stroke: rgba(35, 130, 255, 1);
  stroke-width: 2;
  fill: rgba(35, 130, 255, 0.2);
  pointer-events: none;
  z-index: 10;
}