.cluster {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 120rem;
  max-width: 200rem;
  height: fit-content;
  min-height: 120rem;
  border-top: 0.1rem solid rgba(17, 49, 93, 0.4);
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.cluster_title {
  position: absolute;
  top: -3rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: rgba(17, 49, 93, 1);
}

.cluster_content {
  flex: 1;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}